body{
    margin: 0;
    padding: 0;
    font-family: "Inter";
}

nav{
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center ;
    vertical-align: middle;
    height: auto;
    background-color: #0D1321;
}

#links-internos{
    width: 50%;
    text-align:start;
}

#links-externos{
    width: 40%;
    text-align: end;
}

.nav-int{
    text-decoration: none;
    color: white;
    margin-right: 15px;
}

.nav-int:hover{
    text-decoration: underline 2px #748CAB;
    text-underline-offset: 5px;
}

.nav-ext{
    text-decoration: none;
    color: black;
}

.logos{
    width: 38px;
}

#meio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#resumo{
    width: 30%;
    color: #1D2D44;
}

#resumo h1{
    margin: 0;
    padding: 0;
    display: inline;
    font-weight: 400;
}

#nome {
    color: #0D1321;
}

#div-foto{
    margin: 0;
    padding: 0;
    width: 30%;
}

#foto{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}